@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

a {
  text-decoration: unset;
  color: unset;
}
